{% extends "mtechMinorEval/base-fullscreen.html" %}
{% block title %} Verify OTP {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}
{% block body_class %} bg-soft {% endblock body_class %}
{% block content %}

    <main>

        <!-- Section -->
        <section class="vh-lg-100 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <h1 class="h3">Verify OTP</h1>
                            <p class="mb-4">Enter your 6 digit OTP!</p>
                            <form action="#" method='POST'>
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="otp">Your OTP</label>
                                    <div class="input-group">
                                        <input type="text" name='otp' class="form-control" id="otp" required autofocus>
                                    </div>  
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div><buttom><a href="{% url 'login_otp' %}" class="small text-right">Entered Wrong Number ?</a></button></div>
                                </div>
                                <!-- End of Form -->
                                <button type="submit" class="btn btn-block btn-primary">Login</button>
                                
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Go back to the
                                    <a href="{% url 'login' %}" class="font-weight-bold">login page</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}
{% block javascripts %}{% endblock javascripts %}