{% extends "mtechMinorEval/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        
        <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark pl-0 pr-2 pb-0">
            <div class="container-fluid px-0">
              <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
                <div class="d-flex">
                  <!-- Search form -->
                  
                </div>
                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center">
                  <li class="nav-item dropdown">
                    
                    <div class="dropdown-menu dashboard-dropdown dropdown-menu-lg dropdown-menu-center mt-2 py-0">
                      <div class="list-group list-group-flush">
                        <a href="#" class="text-center text-primary font-weight-bold border-bottom border-light py-3">Notifications</a>
                        <a href="#" class="list-group-item list-group-item-action border-bottom border-light">
                          <div class="row align-items-center">
                              <div class="col-auto">
                                <!-- Avatar -->
                                <img alt="Image placeholder" src="/static/assets/img/team/profile-picture-1.jpg" class="user-avatar lg-avatar rounded-circle">
                              </div>
                              <div class="col pl-0 ml--2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                      <h4 class="h6 mb-0 text-small">Jose Leos</h4>
                                    </div>
                                    <div class="text-right">
                                      <small class="text-danger">a few moments ago</small>
                                    </div>
                                </div>
                                <p class="font-small mt-1 mb-0">Added you to an event "Project stand-up" tomorrow at 12:30 AM.</p>
                              </div>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action border-bottom border-light">
                          <div class="row align-items-center">
                              <div class="col-auto">
                                <!-- Avatar -->
                                <img alt="Image placeholder" src="/static/assets/img/team/profile-picture-2.jpg" class="user-avatar lg-avatar rounded-circle">
                              </div>
                              <div class="col pl-0 ml--2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                      <h4 class="h6 mb-0 text-small">Neil Sims</h4>
                                    </div>
                                    <div class="text-right">
                                      <small class="text-danger">2 hrs ago</small>
                                    </div>
                                </div>
                                <p class="font-small mt-1 mb-0">You've been assigned a task for "Awesome new project".</p>
                              </div>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action border-bottom border-light">
                          <div class="row align-items-center">
                              <div class="col-auto">
                                <!-- Avatar -->
                                <img alt="Image placeholder" src="/static/assets/img/team/profile-picture-3.jpg" class="user-avatar lg-avatar rounded-circle">
                              </div>
                              <div class="col pl-0 ml--2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                      <h4 class="h6 mb-0 text-small">Roberta Casas</h4>
                                    </div>
                                    <div class="text-right">
                                      <small>5 hrs ago</small>
                                    </div>
                                </div>
                                <p class="font-small mt-1 mb-0">Tagged you in a document called "First quarter financial plans",</p>
                              </div>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action border-bottom border-light">
                          <div class="row align-items-center">
                              <div class="col-auto">
                                <!-- Avatar -->
                                <img alt="Image placeholder" src="/static/assets/img/team/profile-picture-4.jpg" class="user-avatar lg-avatar rounded-circle">
                              </div>
                              <div class="col pl-0 ml--2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                      <h4 class="h6 mb-0 text-small">Joseph Garth</h4>
                                    </div>
                                    <div class="text-right">
                                      <small>1 d ago</small>
                                    </div>
                                </div>
                                <p class="font-small mt-1 mb-0">New message: "Hey, what's up? All set for the presentation?"</p>
                              </div>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action border-bottom border-light">
                          <div class="row align-items-center">
                              <div class="col-auto">
                                <!-- Avatar -->
                                <img alt="Image placeholder" src="/static/assets/img/team/profile-picture-5.jpg" class="user-avatar lg-avatar rounded-circle">
                              </div>
                              <div class="col pl-0 ml--2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                      <h4 class="h6 mb-0 text-small">Bonnie Green</h4>
                                    </div>
                                    <div class="text-right">
                                      <small>2 hrs ago</small>
                                    </div>
                                </div>
                                <p class="font-small mt-1 mb-0">New message: "We need to improve the UI/UX for the landing page."</p>
                              </div>
                          </div>
                        </a>
                        <a href="#" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link pt-1 px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="media d-flex align-items-center">
                        <img class="user-avatar md-avatar rounded-circle" alt="Image placeholder" src="/static/assets/img/team/admin.svg">
                        <div class="media-body ml-2 text-dark align-items-center d-none d-lg-block">
                          <span class="mb-0 font-small font-weight-bold">
                            {{ request.user.username }}
                          </span>
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu dashboard-dropdown dropdown-menu-right mt-2">
                      <!-- <a class="dropdown-item font-weight-bold" href="/settings.html"><span class="fas fa-cog"></span>Settings</a>
                      <div role="separator" class="dropdown-divider"></div> -->
                      <a class="dropdown-item font-weight-bold" href="{% url 'admin-logout' %}">
                          <span class="fas fa-sign-out-alt text-danger"></span>Logout</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </nav>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <!-- <div>
                <button class="btn btn-secondary text-dark mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-plus mr-2"></span>New
                </button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                    <a class="dropdown-item font-weight-bold" href="#"><span class="far fa-file-alt mr-2"></span>Document</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="far fa-comment-dots mr-2"></span>Message</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-box-open mr-2"></span>Product</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-danger mr-2"></span>Subscription Plan</a>
                </div>
            </div> -->
            <div>
                <!-- <div class="btn-group">
                    <button type="button" data-toggle="tooltip" title="Calendar" class="btn btn-primary"><span class="fas fa-calendar-alt"></span></button>
                </div>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-clipboard mr-2"></span>Reports
                    <span class="icon icon-small ml-1"><span class="fas fa-chevron-down"></span></span>
                </button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-box-open mr-2"></span>Products</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-store mr-2"></span>Customers</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-cart-arrow-down mr-2"></span>Orders</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-chart-pie mr-2"></span>Console</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-success mr-2"></span>All Reports</a>
                </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">General information</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-body bg-white border-light shadow-sm mb-4">
                                    <h2 class="h5 mb-4">Select profile photo</h2>
                                    <div class="d-xl-flex align-items-center">
                                        <div>
                                            <!-- Avatar -->
                                            <div class="user-avatar xl-avatar mb-3">
                                                <img class="rounded" src="{{ faculty.profile_image.url }}" alt="change avatar">
                                            </div>
                                        </div>
                                        <div class="file-field">
                                            <div class="d-flex justify-content-xl-center ml-xl-3">
                                                <div class="d-flex">
                                                    <span class="icon icon-md">
                                                        <span class="fas fa-paperclip mr-3"></span>
                                                    </span>
                                                    {{ form.profile_image }} <!-- Ensure that the input type is correctly rendered by Django -->
                                                    <div class="d-md-block text-left">
                                                        <div class="font-weight-normal text-dark mb-1">Choose Image</div>
                                                        <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="first_name">Name</label>
                                    {{ form.name }}
                                    {% if form.name.errors %}
                                        <p class="text-danger">{{ form.name.errors }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="last_name">Email</label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        <p class="text-danger">{{ form.email.errors }}</p>
                                    {% endif %}                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3">
                                <label for="birthday">Birthday</label>
                                <div class="input-group">
                                    <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                    {{ form.date_of_birth }}
                                    {% if form.date_of_birth.errors %}
                                        <p class="text-danger">{{ form.date_of_birth.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="gender">Gender</label>
                                {{ form.gender }}
                                {% if form.gender.errors %}
                                    <p class="text-danger">{{ form.gender.errors }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="email">Nationality</label>
                                    {{ form.nationality }}
                                    {% if form.nationality.errors %}
                                        <p class="text-danger">{{ form.nationality.errors }}</p>
                                    {% endif %}                                
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    {{ form.phone_number }}
                                    {% if form.phone_number.errors %}
                                        <p class="text-danger">{{ form.phone_number.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                        </div>
                        <h2 class="h5 my-4">Address</h2>
                        <div class="row">
                            <div class="col-sm-9 mb-3">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    {{ form.address }}
                                    {% if form.address.errors %}
                                        <p class="text-danger">{{ form.address.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                            <div class="col-sm-3 mb-3">
                                <div class="form-group">
                                    <label for="number">Faculty ID</label>
                                    {{ form.facultyID }}
                                    {% if form.facultyID.errors %}
                                        <p class="text-danger">{{ form.facultyID.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 mb-3">
                                <div class="form-group">
                                    <label for="city">Country</label>
                                    {{ form.country }}
                                    {% if form.country.errors %}
                                        <p class="text-danger">{{ form.country.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="zip">ZIP</label>
                                {{ form.pincode }}
                                    {% if form.pincode.errors %}
                                        <p class="text-danger">{{ form.pincode.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                        </div>
                        
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Save All</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light text-center p-0">
                            <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                            <div class="card-body pb-5">
                                <img src="{{ faculty.profile_image.url }}" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                                <h4 class="h3">
                                    {{ faculty.name }}
                                </h4>
                                <h5 class="font-weight-normal">
                                    {{ faculty.email }}
                                </h5>
                                <p class="text-gray mb-4">{{ faculty.country }}</p>
                                <!-- <a class="btn btn-sm btn-primary mr-2" href="#"><span class="fas fa-user-plus mr-1"></span> Connect</a> -->
                                <a class="btn btn-sm btn-danger" href="{% url 'faculty-delete' faculty.id %}">Delete</a>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </div>
        </div>

        {% include 'mtechMinorEval/footer.html' %}

    </main>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Faculty</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    
    <div class="bg-white shadow-md rounded-lg p-8 max-w-lg w-full">
        <h1 class="text-2xl font-bold mb-6 text-gray-800 text-center">Edit Faculty</h1>
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            <div class="space-y-4">
                {% for field in form %}
                    <div class="p-4 border rounded-md bg-gray-50 shadow-sm">
                        <label class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
                        {{ field }} 
                        {% if field.errors %}
                            <p class="mt-1 text-sm text-red-600">{{ field.errors }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition duration-200">
                Submit
            </button>
        </form>
    </div>
</body>

</html> -->
