{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.min.css">
    <title>Document</title>
</head>
<body>
    {% include 'mtechMinorEval/navbar.html' %}
    <h1 class="text-red-500">Home Page</h1>
    <a href="{% url 'projectsList' %}" style="color: #4299e1; text-decoration: none; padding-left: 500px;">View Project List</a>

</body>
</html>