<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluation Form</title>
</head>
<body>
    {% include 'mtechMinorEval/navbar.html' %}
    <h1>{{ role }} Evaluation Form</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'project' and field.name != 'guide' and field.name != 'examiner' %} <!-- Adjust 'project' and role -->
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
            {% endif %}
            <hr>
        {% endfor %}
        <input type="submit" value="{% if form.instance.pk %}Update{% else %}Submit{% endif %}">
    </form>
</body>
</html>
