{% extends "mtechMinorEval/base_faculty.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">
        {% include 'mtechMinorEval/navigation_faculty.html' %}
        
       


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <!-- <div>
                <button class="btn btn-secondary text-dark mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-plus mr-2"></span>New
                </button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                    <a class="dropdown-item font-weight-bold" href="#"><span class="far fa-file-alt mr-2"></span>Document</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="far fa-comment-dots mr-2"></span>Message</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-box-open mr-2"></span>Product</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-danger mr-2"></span>Subscription Plan</a>
                </div>
            </div> -->
            <div>
                <!-- <div class="btn-group">
                    <button type="button" data-toggle="tooltip" title="Calendar" class="btn btn-primary"><span class="fas fa-calendar-alt"></span></button>
                </div>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-clipboard mr-2"></span>Reports
                    <span class="icon icon-small ml-1"><span class="fas fa-chevron-down"></span></span>
                </button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-box-open mr-2"></span>Products</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-store mr-2"></span>Customers</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-cart-arrow-down mr-2"></span>Orders</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-chart-pie mr-2"></span>Console</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-success mr-2"></span>All Reports</a>
                </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col-10 col-xl-7">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">{{ role }} Evaluation Form</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-body bg-white border-light shadow-sm mb-4">
                                    <h2 class="h5 mb-4">{{project.title}}</h2>
                                    <div class="d-xl-flex align-items-center">
                                        <div class="file-field">
                                            <div class="d-flex justify-content-xl-center ml-xl-3">
                                                <div class="d-flex">
                                                    <div class="d-md-block text-left" style="cursor: pointer;">
                                                        <div class="font-weight-normal text-dark mb-1" style="cursor: pointer;">{{ project.student.name }}</div>
                                                        <div class="text-gray small">{{ project.student.rollno }}</div>
                                                        <div class="text-gray small">{{ project.student.email }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phone">Evaluation Start</label>
                                <div class="input-group">
                                    <span class="input-group-text"></span>
                                    {{ form.datetime_from }}
                                    {% if form.datetime_from.errors %}
                                        <p class="text-danger">{{ form.datetime_from.errors }}</p>
                                    {% endif %}                                  
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phone">Evaluation End</label>
                                <div class="input-group">
                                    <span class="input-group-text"></span>
                                    {{ form.datetime_to }}
                                    {% if form.datetime_to.errors %}
                                        <p class="text-danger">{{ form.datetime_to.errors }}</p>
                                    {% endif %}                                  
                                </div>
                            </div>
                            
                        </div>


                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="degree">Depth Of Understanding</label>
                                    {{ form.depthOfUnderstanding }}
                                    {% if form.depthOfUnderstanding.errors %}
                                        <p class="text-danger">{{ form.depthOfUnderstanding.errors }}</p>
                                    {% endif %}                                
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="phone">Work Done & Results</label>
                                    {{ form.workDoneAndResults }}
                                    {% if form.workDoneAndResults.errors %}
                                        <p class="text-danger">{{ form.workDoneAndResults.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="branch">Exceptional Work</label>
                                    {{ form.exceptionalWork }}
                                    {% if form.exceptionalWork.errors %}
                                        <p class="text-danger">{{ form.exceptionalWork.errors }}</p>
                                    {% endif %}                                
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="phone">Viva Voce</label>
                                    {{ form.vivaVoce }}
                                    {% if form.vivaVoce.errors %}
                                        <p class="text-danger">{{ form.vivaVoce.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="mother_tongue">Presentation</label>
                                    {{ form.presentation }}
                                    {% if form.presentation.errors %}
                                        <p class="text-danger">{{ form.presentation.errors }}</p>
                                    {% endif %}                                
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="phone">Report</label>
                                    {{ form.report }}
                                    {% if form.report.errors %}
                                        <p class="text-danger">{{ form.report.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                        </div>


                    {% if role == 'Guide' %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="email">Attendance</label>
                                    {{ form.attendance }}
                                    {% if form.attendance.errors %}
                                        <p class="text-danger">{{ form.attendance.errors }}</p>
                                    {% endif %}                                
                                </div>
                            </div>
                        </div>
                    {% endif %}

                        <h2 class="h5 my-4">Remarks</h2>
                        <div class="row">
                            <div class="col-sm-12 mb-3">
                                <div class="form-group">
                                    {{ form.comments }}
                                    {% if form.comments.errors %}
                                        <p class="text-danger">{{ form.comments.errors }}</p>
                                    {% endif %}                                  </div>
                            </div>
                            <!-- <div class="col-sm-3 mb-3">
                                <div class="form-group">
                                    <label for="number">Student Roll No.</label>
                                    {{ form.rollno }}
                                    {% if form.rollno.errors %}
                                        <p class="text-danger">{{ form.rollno.errors }}</p>
                                    {% endif %}                                  </div>
                            </div> -->
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Save All</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light text-center p-0">
                            <div style="width: 600px; height: 400px;">
                                <iframe src="{{ project.ppt.url }}" style="width:100%; height:100%;" allowfullscreen></iframe>
                            </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm" onclick="openFullscreen()">Full Screen</button>
                </div>
            </div>
        </div>

        

        
    <footer class="footer section py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <p class="mb-0 text-center text-xl-left">
                        &copy; <a class="text-primary font-weight-normal" href="#" target="_blank">NITK Surathkal</a><a target="_blank" h</a>
                    </p>
                </div>

                <div class="col-12 col-lg-6">
                    <!-- List -->
                    <ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
                        <li class="list-inline-item px-0 px-sm-2">
                            <a target="_blank" 
                               href="#">MTech IT Minor Project Evaluation Dashboard</a>
                        </li>
                    </ul>
                    <!-- End List -->
                </div>
            </div>
        </div>
    </footer>
    <script>
        var iframe = document.querySelector('iframe');
        function openFullscreen() {
            if (iframe.requestFullscreen) {
                iframe.requestFullscreen();
            } else if (iframe.mozRequestFullScreen) { // Firefox
                iframe.mozRequestFullScreen();
            } else if (iframe.webkitRequestFullscreen) { // Chrome, Safari and Opera
                iframe.webkitRequestFullscreen();
            } else if (iframe.msRequestFullscreen) { // IE/Edge
                iframe.msRequestFullscreen();
            }
        }
    </script>
    </main>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}



