
    <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
        <div class="sidebar-sticky pt-3 mx-auto">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="user-avatar lg-avatar mr-4">
                <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Bonnie Green">
                </div>
                <div class="d-block">
                <h2 class="h6"></h2>
                <a href="#" class="btn btn-secondary text-dark btn-xs"><span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#" class="fas fa-times" data-toggle="collapse"
                    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation"></a>
            </div>
            </div>
            <ul class="nav flex-column">
            <li class="nav-item  {% if request.resolver_match.url_name == 'admin-panel' %} active {% endif %}">
                <a href="/" class="nav-link">
                <span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span>
                <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item  {% if request.resolver_match.url_name == 'faculty-database' or request.resolver_match.url_name == 'add-new-faculty' %} active {% endif %}">
                <a href="{% url 'faculty-database' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-chalkboard-teacher"></span></span>
                    <span>Facultys</span>
                </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'student-database' or request.resolver_match.url_name == 'add-new-student' %} active {% endif %}">
                <a href="{% url 'student-database' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-user-graduate"></span></span>
                    <span>Students</span>
                </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'project-allotment' or request.resolver_match.url_name == 'add-new-project' %} active {% endif %}">
                <a href="{% url 'project-allotment' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-tasks"></span></span>
                    <span>Projects</span>
                </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'total-eval' %} active {% endif %}">
                <a href="{% url 'total-eval' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-clipboard-list"></span></span>
                    <span>Evaluations</span>
                </a>
            </li>       
            <li class="nav-item {% if request.resolver_match.url_name == 'activity-log' %} active {% endif %}">
                <a href="{% url 'activity-log' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fa fa-history"></span></span>
                    <span>Activity Log</span>
                </a>
            </li>       
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <a href="{% url 'admin-logout' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-sign-out-alt text-danger"></span></span>
                    <span>Logout</span>
                </a>
            </li>
            <div class="sidebar-footer mt-auto text-center" style='padding-top:320px;'>
                <img src="/static/assets/img/favicon/logo.png" alt="Logo" class="img-fluid mt-4" style="max-width: 80%; filter: invert(1);">
            </div>
            
        </div>
    </nav>

