<nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
    <div class="sidebar-sticky pt-3 mx-auto">
        <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        
        <div class="collapse-close d-md-none">
            <a href="#" class="fas fa-times" data-toggle="collapse"
                data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                aria-label="Toggle navigation"></a>
        </div>
        </div>
        <ul class="nav flex-column">
        <li class="nav-item  {% if request.resolver_match.url_name == 'projectsList' %} active {% endif %}">
            <a href="{% url 'projectsList' %}" class="nav-link">
            <span class="sidebar-icon"><span class="fa fa-list"></span></span>
            <span>Projects List</span>
            </a>
        </li>
        <li class="nav-item  {% if request.resolver_match.url_name == 'faculty-specific' %} active {% endif %}">
            <a href="{% url 'faculty-specific' faculty.id %}" class="nav-link">
                <span class="sidebar-icon"><span class="fas fa-clipboard-list"></span></span>
                <span>Your Evaluations</span>
            </a>
        </li>
        <li class="nav-item  {% if request.resolver_match.url_name == 'faculty-edit' %} active {% endif %}">
            <a href="{% url 'faculty-edit' faculty.id %}" class="nav-link">
                <span class="sidebar-icon"><span class="fas fa-user-edit"></span></span>
                <span>Edit Profile</span>
            </a>
        </li>
        <li class="nav-item  {% if request.resolver_match.url_name == 'change_password' %} active {% endif %}">
            <a href="{% url 'change_password' %}" class="nav-link">
                <span class="sidebar-icon"><span class="fa fa-key"></span></span>
                <span>Change Password</span>
            </a>
        </li>                    
        <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
        <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
                <span class="sidebar-icon"><span class="fas fa-sign-out-alt text-danger"></span></span>
                <span>Logout</span>
            </a>
        </li>
        <div class="sidebar-footer mt-auto text-center" style='padding-top:380px;'>
            <img src="/static/assets/img/favicon/logo.png" alt="Logo" class="img-fluid mt-4" style="max-width: 80%; filter: invert(1);">
        </div>
        </ul>
    </div>
</nav>

