{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <title>Summary</title>
</head>

<body class="bg-gray-100 text-gray-800">
    <!-- Navbar -->
    {% include 'mtechMinorEval/navbar.html' %}
    <div>Logged in {{request.user.username }}</div>
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-semibold mb-6 text-center">Summary</h1>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="py-2 px-4 border-b">Student Rollno</th>
                        <th class="py-2 px-4 border-b">Student Name</th>
                        <th class="py-2 px-4 border-b">Project Name</th>
                        <th class="py-2 px-4 border-b">Guide Name</th>
                        <th class="py-2 px-4 border-b">Examiner Name</th>
                        <th class="py-2 px-4 border-b">Guide Evaluation</th>
                        <th class="py-2 px-4 border-b">Examiner Evaluation</th>
                        <th class="py-2 px-4 border-b">Total Score</th>
                        <th class="py-2 px-4 border-b">S/N</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr class="hover:bg-gray-50">
                        <td class="py-2 px-4 border-b">{{ project.student.rollno}}</td>
                        <td class="py-2 px-4 border-b">{{ project.student.name }}</td>
                        <td class="py-2 px-4 border-b">{{ project.title }}</td>
                        <td class="py-2 px-4 border-b">{{ project.guide.name }}</td>
                        <td class="py-2 px-4 border-b">{{ project.examiner.name }}</td>
                        <td class="py-2 px-4 border-b">
                            {% if project.guide_evaluation %}
                                {{ project.guide_evaluation.total_score }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="py-2 px-4 border-b">
                            {% if project.examiner_evaluation %}
                                {{ project.examiner_evaluation.total_score }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="py-2 px-4 border-b">
                            {% if project.guide_evaluation and project.examiner_evaluation %}
                                {{ project.guide_evaluation.total_score|default:"0"|add:project.examiner_evaluation.total_score|default:"0" }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="py-2 px-4 border-b">
                            {% if project.guide_evaluation and project.examiner_evaluation %}
                                {% with total_score=project.guide_evaluation.total_score|default:"0"|add:project.examiner_evaluation.total_score|default:"0" %}
                                    {% if total_score >= 50 %}
                                        S
                                    {% else %}
                                        N
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <!-- {% if project.guide.name == request.user.username %}
                        <td class="py-2 px-4 border-b">Guide</td>
                        {% else %}
                        <td class="py-2 px-4 border-b">Examiner</td>
                        {% endif %}
                        <td class="py-2 px-4 border-b">
                            <a href="{% url 'evaluate' project.id%}" class="text-blue-500 hover:text-blue-700">Evaluate</a>
                        </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
<a href="{% url 'generate-pdf' %}" class="bg-blue-500 text-white py-2 px-4 rounded">Print PDF</a>
</html>
