{% extends "mtechMinorEval/base.html" %}
{% block title %} Total Evaluations {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
                
    <main class="content">
        {% include 'mtechMinorEval/navigation.html' %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item"><a href="{% url 'admin-panel' %}"><span class="fas fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'admin-panel' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'total-eval' %}">Evaluations</a></li>
                    </ol>
                </nav>
                <h2 class="h4">All Evaluations</h2>
                <p class="mb-0">MTech Minor IT Evaluations</p>
                <br>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                    <a href="{% url 'total-eval-export' %}" class="btn btn-sm btn-outline-primary">Export</a>
                    <a href="{% url 'summary' %}" class="btn btn-sm btn-outline-primary">Print</a>
                </div>
            </div>
            
        </div>

        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <form method="GET" action="{% url 'total-eval' %}" class="w-100">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2">
                                <span class="fas fa-search"></span>
                            </span>
                            <input type="text" name="search" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" value="{{ search_query }}">
                        </div>
                    </form>
                </div>




                <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm icon-gray">
                                <span class="fas fa-cog"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                            <a class="dropdown-item d-flex font-weight-bold" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}per_page=5">
                                5 
                                {% if per_page == '5' %}
                                <span class="icon icon-small ml-auto" >
                                    <span class="fas fa-check"></span>
                                </span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item d-flex font-weight-bold" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}per_page=10">
                                10 
                                {% if per_page == '10' %}
                                <span class="icon icon-small ml-auto">
                                    <span class="fas fa-check"></span>
                                </span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item d-flex font-weight-bold" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}per_page=20">
                                20 
                                {% if per_page == '20' %}
                                <span class="icon icon-small ml-auto" >
                                    <span class="fas fa-check"></span>
                                </span>
                                {% endif %}
                            </a>
                        </div>
                                                                     
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a href="?sort=student__rollno&order={% if sort_column == 'student__rollno' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Student Rollno
                                {% if sort_column == 'student__rollno' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=student&order={% if sort_column == 'student' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Student Name
                                {% if sort_column == 'student' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=project__title&order={% if sort_column == 'project__title' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Project Title
                                {% if sort_column == 'project__title' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=guide&order={% if sort_column == 'guide' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Guide
                                {% if sort_column == 'guide' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=examiner&order={% if sort_column == 'examiner' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Examiner
                                {% if sort_column == 'examiner' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=guide_score&order={% if sort_column == 'guide_score' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Guide Marks (Max 60)
                                {% if sort_column == 'guide_score' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=examiner_score&order={% if sort_column == 'examiner_score' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Examiner Marks (Max 40)
                                {% if sort_column == 'examiner_score' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=total_score&order={% if sort_column == 'total_score' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Total Marks (Max 100)
                                {% if sort_column == 'total_score' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=sn&order={% if sort_column == 'sn' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                               S/N
                                {% if sort_column == 'sn' %}
                                    <span class="fas {% if sort_order == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></span>
                                {% endif %}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.student.rollno }}</td>
                        <td>{{ project.student.name|truncatechars:20 }}</td>
                        <td>{{ project.project.title|truncatechars:20 }}</td>
                        <td>{{ project.guide|truncatechars:20 }}</td>
                        <td>{{ project.examiner|truncatechars:20 }}</td>
                        <td>
                            {{ project.guide_score|default:"N/A" }}
                        </td>
                        <td>
                            {{ project.examiner_score|default:"N/A" }}
                        </td>
                        <td>
                            {{ project.total_score|default:'N/A' }}
                        </td>
                        <td>
                            {{ project.sn }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        {% if projects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if search_query %}search={{ search_query }}&{% endif %}sort={{ sort_column }}&order={{ sort_order }}&page={{ projects.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
                        
                        {% for num in projects.paginator.page_range %}
                            {% if projects.number == num %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ num }}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?{% if search_query %}search={{ search_query }}&{% endif %}sort={{ sort_column }}&order={{ sort_order }}&page={{ num }}">{{ num }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
        
                        {% if projects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if search_query %}search={{ search_query }}&{% endif %}sort={{ sort_column }}&order={{ sort_order }}&page={{ projects.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="font-weight-bold small">Showing <b>{{ projects.start_index }}</b> to <b>{{ projects.end_index }}</b> out of <b>{{ projects.paginator.count }}</b> entries</div>

            </div>
        </div>

        {% include 'mtechMinorEval/footer.html' %}

    </main>
    <script>
        function submitDeleteForm(form) {
            if (confirm("Are you sure you want to delete this project?")) {
                form.submit();
            }
        }
    </script>
    
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}
